<%= simple_form_for [toto] do |f| %>
  <% if toto.errors.any? %>
    <div class="errors-container">
      <ul>
        <% toto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
<% end %>


<%

# a mettre dans l'erb de new / restaurants
# <%= render 'form', toto: @restaurant

%>
